@font-face {
  src: url("../fonts/Inter-Regular.ttf");
  font-family: "Inter Regular";
}
@font-face {
  src: url("../fonts/Inter-SemiBold.ttf");
  font-family: "Inter Semibold";
}
@font-face {
  src: url("../fonts/Inter-Medium.ttf");
  font-family: "Inter Medium";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font: 16px "Inter Regular";
  background: url("../img/bg.jpg") top center/cover no-repeat fixed;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul, ol {
  list-style-type: none;
}

.titulo__principal {
  font: 3rem "Inter Semibold";
}

.texto__principal {
  font-size: 1.2rem;
  line-height: 1.5;
}

.botao__topo {
  background-color: #FB2576;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 1.6rem;
  display: none;
}
.botao__topo a {
  color: #FFF;
  padding: 1.2rem 1.3rem;
  display: block;
}

@media screen and (max-width: 1023px) {
  .texto__principal {
    font-size: 1rem;
  }
}
header {
  width: 100%;
  background: url("../img/bg2.png") bottom center/13.5rem repeat-x;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 3fr;
}
header .container__logo {
  background-color: #000;
  display: flex;
  padding: 1rem 0 0;
}
header .container__logo .logo {
  width: 12.5em;
  margin: 0 auto;
  align-self: center;
}
header nav {
  background-color: #000;
  display: flex;
  padding: 2rem 0 3rem;
}
header nav .menu__principal {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin: 0 auto;
  align-self: center;
}
header nav .menu__principal .menu__link {
  color: #FFF;
  display: block;
  text-transform: uppercase;
  border-bottom: 3px solid #FB2576;
  background-color: #000;
  font-size: 1.1rem;
  padding: 1rem 0.8rem 0.9rem;
  transition: all 0.3s ease-in-out;
}
header nav .menu__principal .menu__link:hover {
  background-color: #FB2576;
  color: #000;
  border-color: #000;
  border-radius: 16px;
}
header .banner {
  background: url("../img/bg1.png") top center/13.5rem repeat-x;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
header .banner .banner__texto {
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.4);
  display: inline-block;
  padding: 0.5rem 1.5rem;
  font-size: 3.2rem;
  line-height: 1;
  margin: 0 0 3rem;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  header .container__logo .logo {
    width: 8rem;
  }
  header nav {
    padding: 1rem 0 2rem;
  }
  header nav .menu__principal {
    display: block;
    width: 90%;
  }
  header nav .menu__principal .menu__link {
    text-align: center;
  }
  header .banner .banner__texto {
    font-size: 1rem;
  }
}
.introducao {
  padding: 6rem 0;
  background-color: #FFF;
}
.introducao .titulo__intro {
  text-align: center;
}
.introducao .titulo__intro:before {
  content: "( ";
  color: #7209b7;
  font-size: 5.5rem;
}
.introducao .titulo__intro:after {
  content: " )";
  color: #7209b7;
  font-size: 5.5rem;
}
.introducao .texto__intro {
  margin: 3rem 11rem 0;
  text-align: center;
}
.introducao .texto__intro .user_name {
  font-size: 1.5em;
}
.introducao .texto__intro .user_name:before {
  content: "@";
  color: #7209b7;
}
.introducao .texto__intro .enfase:before {
  content: "(";
  color: #7209b7;
}
.introducao .texto__intro .enfase:after {
  content: ")";
  color: #7209b7;
}

@media screen and (max-width: 1023px) {
  .introducao {
    padding: 2rem 0 3rem;
  }
  .introducao .titulo__intro {
    font-size: 1.8rem;
  }
  .introducao .titulo__intro:before, .introducao .titulo__intro:after {
    font-size: 2.5rem;
  }
  .introducao .texto__intro {
    margin: 3rem 2rem 0;
    text-align: justify;
  }
}
.sobre {
  display: grid;
  grid-template-areas: "titulo titulo titulo" "titulo titulo titulo" "texto texto imagem";
  background-color: #000;
  padding: 6rem 3rem;
}
.sobre .titulo__sobre {
  color: #FFF;
  grid-area: titulo;
}
.sobre .titulo__sobre:before {
  content: "/ ";
  color: #FB2576;
  font-size: 5.5rem;
}
.sobre .texto__sobre {
  color: #FFF;
  text-align: justify;
  grid-area: texto;
  align-self: center;
}
.sobre .foto__perfil {
  width: 23rem;
  grid-area: imagem;
  border-radius: 100%;
  border: 4px solid #FB2576;
  padding: 0.8rem;
  margin: 0 0 0 7rem;
}

@media screen and (max-width: 1023px) {
  .sobre {
    display: block;
    padding: 2rem 2rem 3rem;
  }
  .sobre .titulo__sobre {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  .sobre .titulo__sobre:before {
    font-size: 2.5rem;
  }
  .sobre .foto__perfil {
    margin: 2rem auto 0;
    width: 11rem;
    display: block;
  }
}
.formacao {
  background: #FFF;
  padding: 6rem 3rem;
}
.formacao .titulo__formacao {
  text-align: center;
  margin-bottom: 4rem;
}
.formacao .titulo__formacao:before {
  content: "( ";
  color: #7209b7;
  font-size: 5.5rem;
}
.formacao .titulo__formacao:after {
  content: " )";
  color: #7209b7;
  font-size: 5.5rem;
}
.formacao .container__cards {
  display: flex;
  flex-flow: row wrap;
  gap: 0 4rem;
}
.formacao .container__cards .card {
  flex-grow: 1;
  width: 30%;
  padding: 2rem;
  text-align: center;
  align-self: start;
}
.formacao .container__cards .card .card__titulo {
  font: 1.7rem "Inter Semibold";
  color: #7209b7;
  margin: 1rem 0;
}
.formacao .container__cards .card .card__subtitulo {
  font: 1.1rem "Inter Medium";
}
.formacao .container__cards .card .card__texto {
  font-size: 1.1rem;
  line-height: 1.5;
}

@media screen and (max-width: 1023px) {
  .formacao {
    padding: 2rem 2rem 3rem;
  }
  .formacao .titulo__formacao {
    font-size: 1.8rem;
  }
  .formacao .titulo__formacao:before, .formacao .titulo__formacao:after {
    font-size: 2.5rem;
  }
  .formacao .container__cards {
    flex-flow: column nowrap;
    gap: 0;
  }
  .formacao .container__cards .card {
    width: 100%;
    padding: 0 2rem 2rem;
  }
}
.contato {
  width: 100%;
  background: #000 url("../img/bg3.png") top center/13.5rem repeat-x;
  padding: 12rem 3rem 0;
}
.contato .titulo__contato {
  color: #FFF;
  text-align: center;
  margin-bottom: 3rem;
}
.contato .titulo__contato:before {
  content: "/ ";
  color: #FB2576;
  font-size: 5.5rem;
}
.contato .container__contato {
  display: grid;
  grid-template-columns: 30% auto 30%;
  grid-template-rows: auto auto;
  color: #FFF;
}
.contato .container__contato .titulo__info {
  grid-area: 1/1/2/2;
  font-size: 1.8rem;
}
.contato .container__contato .titulo__info:before {
  content: "[ ";
  color: #FB2576;
}
.contato .container__contato .titulo__info:after {
  content: " ]";
  color: #FB2576;
}
.contato .container__contato .alt {
  grid-area: 1/2/2/3;
  text-align: center;
  margin: 0 0 2rem;
}
.contato .container__contato .info__pessoal {
  grid-area: 2/1/3/2;
}
.contato .container__contato .info__pessoal .lista__pessoal {
  font-size: 1.2rem;
}
.contato .container__contato .info__pessoal .lista__pessoal li {
  margin-bottom: 1.5rem;
}
.contato .container__contato form {
  grid-area: 2/2/3/3;
  display: grid;
}
.contato .container__contato form fieldset {
  border: none;
}
.contato .container__contato form fieldset .centraliza {
  display: flex;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  margin-top: 1.5rem;
  justify-content: center;
}
.contato .container__contato form fieldset .centraliza input[type=reset], .contato .container__contato form fieldset .centraliza input[type=submit] {
  font-size: 1.1rem;
  width: 10rem;
  padding: 1.2rem 0;
  background: #FB2576;
  color: #FFF;
  border: 4px solid #000;
  cursor: pointer;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
}
.contato .container__contato form fieldset .centraliza input[type=reset]:hover, .contato .container__contato form fieldset .centraliza input[type=submit]:hover {
  color: #FB2576;
  border-color: #FB2576;
  background-color: #000;
}
.contato .container__contato form fieldset .centraliza input[type=reset]:active, .contato .container__contato form fieldset .centraliza input[type=submit]:active {
  transition: none;
  color: #000;
  background-color: #FB2576;
  border-color: #000;
}
.contato .container__contato form fieldset input[type=text], .contato .container__contato form fieldset input[type=email], .contato .container__contato form fieldset textarea {
  display: block;
  width: 100%;
  margin: 0 auto 1rem;
  font-size: 1.1rem;
  padding: 1.2rem 1.6rem;
  border: 5px solid #000;
  outline: none;
  transition: all 0.3s ease-in-out;
  color: #000;
  -webkit-text-fill-color: #000;
}
.contato .container__contato form fieldset input[type=text]:focus, .contato .container__contato form fieldset input[type=email]:focus, .contato .container__contato form fieldset textarea:focus {
  background-color: #000;
  color: #FFF;
  border-color: #FFF;
  -webkit-text-fill-color: #FFF;
}
.contato .container__contato form fieldset textarea {
  resize: none;
}
.contato .container__contato .titulo__pessoal {
  grid-area: 1/3/2/4;
  text-align: right;
  font-size: 1.8rem;
}
.contato .container__contato .titulo__pessoal:before {
  content: "[ ";
  color: #FB2576;
}
.contato .container__contato .titulo__pessoal:after {
  content: " ]";
  color: #FB2576;
}
.contato .container__contato .lattes__info {
  grid-area: 2/3/3/4;
  text-align: right;
}
.contato .container__contato .lattes__info .lattes__link {
  color: #FFF;
  background-color: #FB2576;
  font-size: 1.2rem;
  display: inline-block;
  margin-top: 1rem;
  padding: 0.2rem 1rem;
  border: 2px solid #000;
  transition: all 0.3s ease-in-out;
}
.contato .container__contato .lattes__info .lattes__link:hover {
  background-color: #000;
  color: #FB2576;
  border-color: #FB2576;
}

@media screen and (max-width: 1023px) {
  .contato {
    padding: 7rem 2rem 0;
  }
  .contato .titulo__contato {
    font-size: 1.8rem;
  }
  .contato .titulo__contato:before {
    font-size: 2.5rem;
  }
  .contato .container__contato {
    display: block;
  }
  .contato .container__contato .titulo__info {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  .contato .container__contato .info__pessoal {
    text-align: center;
  }
  .contato .container__contato .info__pessoal .lista__pessoal {
    font-size: 1rem;
  }
  .contato .container__contato .titulo__pessoal {
    font-size: 1.5rem;
    text-align: center;
    margin: 3rem 0;
  }
  .contato .container__contato .lattes__info {
    text-align: center;
  }
}
footer {
  background-color: #000;
  padding: 7rem 0 5rem;
}
footer .titulo__footer {
  font-size: 2.5rem;
  color: #FFF;
  text-align: center;
}
footer .titulo__footer:before {
  content: "( ";
  color: #FB2576;
  font-size: 5.5rem;
}
footer .titulo__footer:after {
  content: " )";
  color: #FB2576;
  font-size: 5.5rem;
}
footer .rodape__texto {
  color: #FFF;
  text-align: center;
  margin: 4.5rem 0;
}
footer .social__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  gap: 2rem;
}
footer .social__list img {
  max-width: 3.7rem;
}
footer .copyright {
  color: #FFF;
  font-size: 1.1rem;
  text-align: center;
  margin: 4.5rem 0 0;
  display: block;
}

@media screen and (max-width: 1023px) {
  footer {
    padding: 2rem 2rem 3rem;
  }
  footer .titulo__footer {
    font-size: 1.5rem;
  }
  footer .titulo__footer:before, footer .titulo__footer:after {
    font-size: 2.5rem;
  }
  footer .rodape__texto {
    margin: 2rem 0;
  }
}/*# sourceMappingURL=style.css.map */