@charset "UTF-8";
@font-face {
  src: url("../fonts/Inter-Regular.ttf");
  font-family: "Inter Regular";
}
@font-face {
  src: url("../fonts/Inter-SemiBold.ttf");
  font-family: "Inter Semibold";
}
@font-face {
  src: url("../fonts/Inter-Medium.ttf");
  font-family: "Inter Medium";
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: "Inter Regular";
  background: url("../img/bg.jpg") bottom center/cover no-repeat fixed;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  outline: none;
}

ul, ol {
  list-style-type: none;
}

.titulo__principal {
  font: 2.5rem "Inter Semibold";
}

.texto__principal {
  font-size: 1.1rem;
  line-height: 1.5;
}

.botao__topo {
  background-color: #DE354C;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  display: none;
}
.botao__topo a {
  color: #FFF;
  display: block;
  font-size: 1.6rem;
  padding: 0.8rem 1rem;
}

@media screen and (max-width: 1023px) {
  .texto__principal {
    font-size: 1rem;
  }
}
/* Header */
header {
  width: 100%;
  background: url("../img/bg2.png") bottom center/13.5rem repeat-x;
  height: 100vh;
  display: grid;
  grid-template-rows: auto 3fr;
}
header .container__header {
  display: flex;
  flex-flow: column nowrap;
  background-color: #0E0B16;
}
header .container__header .container__logo {
  background-color: #0E0B16;
  display: flex;
  padding: 2rem 0 0;
}
header .container__header .container__logo .logo {
  width: 10em;
  margin: 0 auto;
  align-self: center;
}
header .container__header nav {
  background-color: #0E0B16;
  display: flex;
  padding: 2rem 0 2.6rem;
  justify-content: center;
}
header .container__header nav .open {
  display: none;
  width: 80px;
  height: 80px;
  background-color: #0E0B16;
  border: 2.5px solid #4717F6;
  margin: 0;
}
header .container__header nav .open .open-line {
  width: 60%;
  height: 4px;
  background: #FFF;
}
header .container__header nav .menu__principal {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  -moz-column-gap: 2.2rem;
       column-gap: 2.2rem;
  margin: 0 auto;
  align-self: center;
}
header .container__header nav .menu__principal .menu__link {
  color: #FFF;
  display: block;
  text-transform: uppercase;
  border-bottom: 3px solid #4717F6;
  background-color: #0E0B16;
  font-size: 1rem;
  padding: 0.8rem 0.5rem;
  transition: all 0.3s ease-in-out;
}
header .container__header nav .menu__principal .menu__link:hover {
  background-color: #FFC719;
  color: #0E0B16;
  border-color: #0E0B16;
}
header .container__header nav .close {
  display: none;
  position: absolute;
  border: 2px solid #DE354C;
  width: 100px;
  height: 100px;
  margin-left: -40px;
  left: 50vw;
  top: 5%;
  padding-top: 1px;
}
header .container__header nav .close .close-line {
  width: 65%;
  height: 4px;
  background-color: #FFF;
}
header .banner {
  background: url("../img/bg1.png") top center/13.5rem repeat-x;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}
header .banner .banner__texto {
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.3);
  display: inline-block;
  padding: 0.5rem;
  font-size: 2.3rem;
  line-height: 1;
  margin: 0 0 2.8rem;
  word-spacing: 0.5rem;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  header {
    background-size: 8rem;
    position: relative;
  }
  header .container__header {
    padding-bottom: 2rem;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
  }
  header .container__header .container__logo {
    width: auto;
  }
  header .container__header .container__logo .logo {
    width: 10rem;
    margin: 0 0 0 2rem;
  }
  header .container__header nav {
    padding: 0 2rem 0 0;
    height: 100%;
    align-items: center;
  }
  header .container__header nav .open {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
  }
  header .container__header nav .menu__mobile {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #0E0B16;
  }
  header .container__header nav .menu__mobile .menu__principal {
    position: relative;
    top: 50vh;
    flex-flow: column nowrap;
    width: 80%;
    align-items: center;
    margin-top: -12rem;
    display: block;
  }
  header .container__header nav .menu__mobile .menu__principal .menu__link {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    border: none;
    border-bottom: 2.5px solid #4717F6;
    padding-top: 1.4rem;
    padding-bottom: 1.4rem;
  }
  header .container__header nav .menu__mobile .close {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
  }
  header .container__header nav .menu__mobile .close .close-line {
    position: relative;
  }
  header .container__header nav .menu__mobile .close .close-line:nth-child(1) {
    transform: rotate(45deg);
  }
  header .container__header nav .menu__mobile .close .close-line:nth-child(2) {
    transform: rotate(-45deg);
    top: -4px;
  }
  header .banner {
    background-size: 8rem;
  }
  header .banner .banner__texto {
    font-size: 1.3rem;
    margin: 0 1.5rem 2rem;
    word-spacing: normal;
  }
}
/* Introdução */
.introducao {
  padding: 6rem 0;
  background-color: #FFF;
}
.introducao .titulo__intro {
  text-align: center;
  color: #0E0B16;
}
.introducao .titulo__intro:before {
  content: "( ";
  color: #DE354C;
  font-size: 3.5rem;
}
.introducao .titulo__intro:after {
  content: " )";
  color: #DE354C;
  font-size: 3.5rem;
}
.introducao .texto__intro {
  margin: 3rem 11rem 0;
  text-align: center;
}
.introducao .texto__intro .user_name {
  font-size: 1.5em;
}
.introducao .texto__intro .user_name:before {
  content: "@";
  color: #DE354C;
}
.introducao .texto__intro .enfase:before {
  content: "(";
  color: #DE354C;
}
.introducao .texto__intro .enfase:after {
  content: ")";
  color: #DE354C;
}

@media screen and (max-width: 1023px) {
  .introducao {
    padding: 2rem 0 3rem;
  }
  .introducao .titulo__intro {
    font-size: 1.8rem;
  }
  .introducao .titulo__intro:before, .introducao .titulo__intro:after {
    font-size: 2.5rem;
  }
  .introducao .texto__intro {
    margin: 3rem 2rem 0;
    text-align: justify;
  }
}
/* Sobre mim */
.sobre {
  display: grid;
  grid-template-areas: "titulo titulo titulo" "titulo titulo titulo" "texto texto imagem";
  background-color: #0E0B16;
  padding: 6rem 0 6rem 3rem;
}
.sobre .titulo__sobre {
  color: #FFF;
  grid-area: titulo;
}
.sobre .titulo__sobre:before {
  content: "/ ";
  color: #4717F6;
  font-size: 3.5rem;
}
.sobre .texto__sobre {
  color: #FFF;
  text-align: justify;
  grid-area: texto;
  align-self: center;
}
.sobre .texto__sobre .link__sobre {
  border: 2px solid #4717F6;
  display: inline-block;
  color: #FFF;
  background: #0E0B16;
  padding: 0 3px;
  transition: all 0.3s ease-in-out;
}
.sobre .texto__sobre .link__sobre:hover {
  border-color: #0E0B16;
  color: #0E0B16;
  background-color: #DE354C;
}
.sobre .container__foto {
  align-self: center;
  grid-area: imagem;
}
.sobre .container__foto .foto__perfil {
  max-width: 55%;
  display: block;
  border-radius: 100%;
  border: 4px solid #4717F6;
  padding: 0.8rem;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  .sobre {
    display: block;
    padding: 2rem 2rem 3rem;
  }
  .sobre .titulo__sobre {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  .sobre .titulo__sobre:before {
    font-size: 2.5rem;
  }
  .sobre .container__foto .foto__perfil {
    margin: 2rem auto 0;
  }
}
/* Formação */
.formacao {
  background: #FFF;
  padding: 5rem 3rem 8rem;
}
.formacao .titulo__formacao {
  text-align: center;
  margin-bottom: 5rem;
  color: #0E0B16;
}
.formacao .titulo__formacao:before {
  content: "( ";
  color: #4717F6;
  font-size: 3.6rem;
}
.formacao .titulo__formacao:after {
  content: " )";
  color: #4717F6;
  font-size: 3.6rem;
}
.formacao .container__cards {
  display: flex;
  flex-flow: row wrap;
  gap: 4rem;
}
.formacao .container__cards .card {
  flex-grow: 1;
  width: 30%;
  padding: 2rem;
  text-align: center;
  border: 1px solid #333;
  box-shadow: 0px 0px 0px 0px #333;
  transition: all 0.3s ease-in-out;
}
.formacao .container__cards .card:hover {
  box-shadow: -9px 9px 0px 1px #333;
  border-color: #333;
}
.formacao .container__cards .card .card__titulo {
  font: 1.5rem "Inter Semibold";
  color: #0E0B16;
  margin: 1rem 0;
}
.formacao .container__cards .card .card__subtitulo {
  font: 1.07rem "Inter Medium";
}
.formacao .container__cards .card .card__texto {
  font-size: 1.02rem;
  line-height: 1.5;
}
.formacao .container__cards .card .card__texto .link__tcc {
  color: #000;
  border-bottom: 2px solid #0E0B16;
  transition: all 0.3s ease-in-out;
}
.formacao .container__cards .card .card__texto .link__tcc:hover {
  color: #FFF;
  background-color: #0E0B16;
  border-color: #0E0B16;
}
.formacao .container__cards .card .card__texto .link__tcc strong {
  font-weight: normal;
}

@media screen and (max-width: 1023px) {
  .formacao {
    padding: 2rem 2rem 3rem;
  }
  .formacao .titulo__formacao {
    font-size: 1.8rem;
  }
  .formacao .titulo__formacao:before, .formacao .titulo__formacao:after {
    font-size: 2.5rem;
  }
  .formacao .container__cards {
    flex-flow: column nowrap;
    gap: 0;
  }
  .formacao .container__cards .card {
    width: 100%;
    padding: 0 0 2rem;
    border: none;
  }
  .formacao .container__cards .card:hover {
    box-shadow: none;
  }
}
/* Contato */
.contato {
  width: 100%;
  background: #0E0B16 url("../img/bg3.png") top center/13.5rem repeat-x;
  padding: 12rem 3rem 0;
}
.contato .titulo__contato {
  color: #FFF;
  text-align: center;
  margin-bottom: 3rem;
}
.contato .titulo__contato:before {
  content: "/ ";
  color: #4717F6;
  font-size: 3.5rem;
}
.contato .container__contato {
  display: grid;
  grid-template-columns: 30% auto 30%;
  grid-template-rows: auto auto;
  color: #FFF;
}
.contato .container__contato .titulo__info {
  grid-area: 1/1/2/2;
  font-size: 1.5rem;
}
.contato .container__contato .titulo__info:before {
  content: "[ ";
  color: #4717F6;
  font-size: 1.7rem;
}
.contato .container__contato .titulo__info:after {
  content: " ]";
  color: #4717F6;
  font-size: 1.7rem;
}
.contato .container__contato .alt {
  grid-area: 1/2/2/3;
  text-align: center;
  margin: 0 0 2rem;
}
.contato .container__contato .info__pessoal {
  grid-area: 2/1/3/2;
}
.contato .container__contato .info__pessoal .lista__pessoal {
  font-size: 1.1rem;
}
.contato .container__contato .info__pessoal .lista__pessoal li {
  margin-bottom: 1.5rem;
}
.contato .container__contato .info__pessoal .lista__pessoal li .pessoal__link {
  color: #FFF;
  background-color: #0E0B16;
  font-size: 1.1rem;
  border: 2px solid #4717F6;
  padding: 0.2rem 1rem;
  transition: all 0.3s ease-in-out;
}
.contato .container__contato .info__pessoal .lista__pessoal li .pessoal__link:hover {
  background-color: #4717F6;
  color: white;
  border-color: #0E0B16;
}
.contato .container__contato form {
  grid-area: 2/2/3/3;
  display: grid;
}
.contato .container__contato form input[type=text], .contato .container__contato form input[type=email], .contato .container__contato form textarea {
  display: block;
  width: 100%;
  margin: 0 auto 1rem;
  font-size: 1rem;
  padding: 1.2rem 1.6rem;
  border: 5px solid #0E0B16;
  outline: none;
  transition: all 0.3s ease-in-out;
  color: #0E0B16;
  background-color: #FFF;
  -webkit-text-fill-color: #0E0B16;
}
.contato .container__contato form input[type=text]:focus, .contato .container__contato form input[type=email]:focus, .contato .container__contato form textarea:focus {
  background-color: #0E0B16;
  color: #FFF;
  border-color: #4717F6;
  -webkit-text-fill-color: #FFF;
}
.contato .container__contato form input[type=text]::-moz-placeholder, .contato .container__contato form input[type=email]::-moz-placeholder, .contato .container__contato form textarea::-moz-placeholder {
  opacity: 1;
}
.contato .container__contato form input[type=text]::placeholder, .contato .container__contato form input[type=email]::placeholder, .contato .container__contato form textarea::placeholder {
  opacity: 1;
}
.contato .container__contato form textarea {
  resize: none;
}
.contato .container__contato form .centraliza {
  display: flex;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  margin-top: 0;
  justify-content: center;
}
.contato .container__contato form .centraliza input[type=reset], .contato .container__contato form .centraliza input[type=submit] {
  outline: none;
  font-size: 1.1rem;
  width: 9rem;
  padding: 1.1rem 0;
  background-color: #4717F6;
  color: #FFF;
  border: 4px solid #0E0B16;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.contato .container__contato form .centraliza input[type=reset]:hover, .contato .container__contato form .centraliza input[type=submit]:hover {
  color: #FFF;
  border-color: #FFC719;
  background-color: #0E0B16;
}
.contato .container__contato form .centraliza input[type=reset]:active, .contato .container__contato form .centraliza input[type=submit]:active {
  transition: none;
  border-color: #0E0B16;
  background-color: #4717F6;
}
.contato .container__contato .titulo__pessoal {
  grid-area: 1/3/2/4;
  text-align: right;
  font-size: 1.4rem;
}
.contato .container__contato .titulo__pessoal:before {
  content: "[ ";
  color: #4717F6;
  font-size: 1.7rem;
}
.contato .container__contato .titulo__pessoal:after {
  content: " ]";
  color: #4717F6;
  font-size: 1.7rem;
}
.contato .container__contato .lattes__info {
  grid-area: 2/3/3/4;
  text-align: right;
}
.contato .container__contato .lattes__info .lattes__link {
  color: #FFF;
  background-color: #0E0B16;
  font-size: 1.1rem;
  display: inline-block;
  margin-top: 1rem;
  padding: 0.2rem 1rem;
  border: 2px solid #4717F6;
  transition: all 0.3s ease-in-out;
}
.contato .container__contato .lattes__info .lattes__link:hover {
  background-color: #4717F6;
  color: white;
  border-color: #0E0B16;
}

@media screen and (max-width: 1023px) {
  .contato {
    padding: 7rem 1rem 0;
  }
  .contato .titulo__contato {
    font-size: 1.8rem;
  }
  .contato .titulo__contato:before {
    font-size: 2.5rem;
  }
  .contato .container__contato {
    display: block;
  }
  .contato .container__contato .titulo__info {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }
  .contato .container__contato .info__pessoal {
    text-align: center;
  }
  .contato .container__contato .info__pessoal .lista__pessoal {
    font-size: 1rem;
  }
  .contato .container__contato .titulo__pessoal {
    font-size: 1.5rem;
    text-align: center;
    margin: 3rem 0;
  }
  .contato .container__contato .lattes__info {
    text-align: center;
  }
  .contato .container__contato form input[type=text], .contato .container__contato form input[type=email], .contato .container__contato form textarea {
    width: 100%;
  }
}
/* Footer */
footer {
  background-color: #0E0B16;
  padding: 7rem 0 6rem;
}
footer .titulo__footer {
  font-size: 2rem;
  color: #FFF;
  text-align: center;
}
footer .titulo__footer:before {
  content: "( ";
  color: #4717F6;
  font-size: 3.5rem;
}
footer .titulo__footer:after {
  content: " )";
  color: #4717F6;
  font-size: 3.5rem;
}
footer .rodape__texto {
  color: #FFF;
  text-align: center;
  margin: 4.5rem 0;
}
footer .social__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
footer .social__list img {
  max-width: 3.4rem;
}
footer .copyright {
  color: #FFF;
  font-size: 1.1rem;
  text-align: center;
  margin: 4.5rem 0 0;
  display: block;
}
footer .copyright .email__contact {
  color: #FFF;
  border-bottom: 2px solid #4717F6;
  padding-bottom: 0.2rem;
  transition: all 0.3s ease-in-out;
}
footer .copyright .email__contact:hover {
  background-color: #4717F6;
  color: #FFF;
  border-color: #0E0B16;
}

@media screen and (max-width: 1023px) {
  footer {
    padding: 2rem 2rem 3rem;
  }
  footer .titulo__footer {
    font-size: 1.4rem;
  }
  footer .titulo__footer:before, footer .titulo__footer:after {
    font-size: 2.3rem;
  }
  footer .rodape__texto {
    margin: 2rem 0;
  }
  footer .social__list {
    gap: 4rem;
  }
  footer .social__list img {
    max-width: 5rem;
  }
}/*# sourceMappingURL=style.css.map */