// Animações

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

@keyframes rotacao {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

/* Fim das animações */

// Fim das animações