@import './variaveis';

@import './fontes';

@mixin raio($valor) {
    border-radius: $valor;
}

@keyframes aparecerBotao {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes desaparecerBotao {
    from { opacity: 1; }
    to { opacity: 0; }
}

* {
    box-sizing: border-box;
}

html, body {
    font-family: $fonte-texto;
    background: url('../img/bg.jpg') center / cover no-repeat fixed;
    scroll-behavior: smooth;
}

.titulo__principal {
    font: 2.5rem $fonte-titulo;
}

.texto__principal {
    font-size: 1.1rem;
    line-height: 1.5;
}

.botao__topo {
    background-color: $cor-terciaria;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    display: none;
    animation-name: aparecerBotao;
    animation-duration: .3s;
    a {
        color: $cor-quaternaria;
        display: block;
        font-size: 1.6rem;
        padding: .8rem 1rem;
    }
}

.fade-out {
    animation-name: desaparecerBotao;
    animation-duration: .3s;
}

@media screen and (max-width: 1023px) {
    .texto__principal {
        font-size: 1rem;
    }
}
