@font-face {
    src: url('../fonts/Inter-Regular.ttf');
    font-family: 'Inter Regular';
}

@font-face {
    src: url('../fonts/Inter-SemiBold.ttf');
    font-family: 'Inter Semibold';
}

@font-face {
    src: url('../fonts/Inter-Medium.ttf');
    font-family: 'Inter Medium';
}