// Tipografia

$fonte-texto: 'Inter Regular';
$fonte-titulo: 'Inter Semibold';
$fonte-subtitulo: 'Inter Medium';

// Paleta de Cores

$preto: #000;
$branco: #FFF;
$cinza: #CCC;
$cinza-escuro: #333;

$cor-primaria: #000;
$cor-secundaria: #9400D3;
$cor-terciaria: #FFC719;
$cor-quaternaria: #FFF;
