// Fontes

$fonte-texto: 'Inter Regular';
$fonte-titulo: 'Inter Semibold';
$fonte-subtitulo: 'Inter Medium';

// Cores

$cor-primaria: #FB2576;
//$cor-secundaria: #3F0071;
$cor-terciaria: #7209b7;
//$cor-quaternaria: #0002A1;

$preto: #000;
$branco: #FFF;
$cinza: #ccc;
