// Fontes

$fonte-texto: 'Inter Regular';
$fonte-titulo: 'Inter Semibold';
$fonte-subtitulo: 'Inter Medium';

// Cores

$preto: #000;
$branco: #FFF;
$cinza: #ccc;

$cor-primaria: #000;
$cor-secundaria: #4717F6;
$cor-terciaria: #DE354C;
$cor-quaternaria: #FFF;
$cor-quinternaria: #FFC719;
