/* Footer */

footer {
    background-color: $cor-primaria;
    padding: 7rem 0 4rem;
    .titulo__footer {
        color: $cor-quaternaria;
        text-align: center;
        &:before {
            content: '( ';
            color: $cor-terciaria;
            font-size: 4.5rem;
        }
        &:after {
            content: ' )';
            color: $cor-terciaria;
            font-size: 4.5rem;
        }
    }
    .rodape__texto {
        color: $cor-quaternaria;
        text-align: center;
        margin: 4.5rem 0;
    }
    .social__list {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        img {
            max-width: 3.4rem;
        }
    }
    .copyright {
        color: $cor-quaternaria;
        font-size: 1.1rem;
        line-height: 1.5rem;
        text-align: center;
        margin: 4.5rem 0 0;
        display: block;
        .email__contact {
            color: $cor-quaternaria;
            border-bottom: 2px solid $cor-secundaria;
            padding: .2rem 0;
            transition: all .3s ease-in-out;
            display: inline-block;
            &:hover {
                background-color: $cor-terciaria;
                color: $cor-primaria;
                border-color: $preto;
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    footer {
        padding: 3rem 2rem 5rem;
        .titulo__footer {
            &:before, &:after {
                font-size: 2.3rem;
            }
        }
        .rodape__texto {
            margin: 2rem 0;
        }
        .social__list {
            gap: 4rem;
            img {
                max-width: 5rem;
            }
        }
    }
}

@media screen and (min-width: 1024px) and (max-width: 1190px) {
    footer {
        padding-top: 4rem;
    }
}
