/* Formação */

.formacao {
    background: $cor-quaternaria;
    padding: 5rem 4rem 8rem;
    text-align: center;
    .titulo__formacao {
        margin-bottom: 5rem;
        color: $cor-primaria;
        position: relative;
        display: inline-block;
        padding-bottom: 1.5rem;
        &:before {
            content: '';
            position: absolute;
            left: -3rem;
            bottom: 0;
            width: 50%;
            height: 3px;
            background-color: $cinza-escuro;
        }
    }
    .container__cards {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        gap: 2.8rem;
        .card {
            flex-grow: 1;
            flex-basis: 30%;
            padding: 2.5rem;
            text-align: center;
            box-shadow: 0 0 15px 0 #ddd;
            .card__titulo {
                font: 1.5rem $fonte-titulo ;
                color: $cor-primaria;
                margin: 1rem 0;
            }
            .card__subtitulo {
                font: 1.07rem $fonte-subtitulo;
            }
            .card__texto {
                font-size: 1.02rem;
                line-height: 1.5;
                .link__tcc {
                    color: $preto;
                    border: 3px solid $cor-secundaria;
                    transition: all .3s ease-in-out;
                    margin-top: 1rem;
                    display: inline-block;
                    padding: .5rem 1rem;
                    font-family: $fonte-subtitulo;
                    &:hover {
                        color: $cor-quaternaria;
                        background-color: $cor-secundaria;
                        border-color: $cor-secundaria;
                    }
                    strong {
                        font-weight: normal;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .formacao {
        padding: 2rem 2rem 3rem;
        .titulo__formacao {
            font-size: 1.8rem;
            margin-bottom: 2.5rem;
            &:before, &:after {
                font-size: 2.5rem;
            }
        }
        .container__cards {
            flex-flow: column nowrap;
            gap: 0;
            .card {
                width: 100%;
                padding: 0 0 2rem;
                box-shadow: none;
            }
        }
    }
}
