/* Formação */

.formacao {
    background: $cor-quaternaria;
    padding: 5rem 0 8rem;
    text-align: center;
    .titulo__formacao {
        margin-bottom: 5rem;
        color: $cor-primaria;
        position: relative;
        display: inline-block;
        padding-bottom: 1.5rem;
        &:before {
            content: '';
            position: absolute;
            left: -3rem;
            bottom: 0;
            width: 50%;
            height: 3px;
            background-color: $cinza-escuro;
        }
    }
    .cards__area {
        text-align: left;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        gap: 5%;
        .container__card {
            position: relative;
            flex-basis: 20%;
            perspective: 1000px;
            height: 400px;
            .inner__card {
                position: relative;
                width: 100%;
                height: 100%;
                transform-style: preserve-3d;
                transition: all .5s ease-out;
                .front__card, .back__card {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    backface-visibility: hidden;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    gap: 1rem;
                    border: 4px solid $preto;
                    height: 400px;
                    .institution {
                        font-family: $fonte-titulo;
                        font-size: 2rem;
                    }
                    .course { font-size: 1.2rem; }
                    .to_front, .to_back {
                        background-color: $preto;
                        color: $branco;
                        font-size: 1rem;
                        padding: 1.2rem 2rem;
                        cursor: pointer;
                        text-transform: uppercase;
                    }
                }
                .front__card {
                    background-color: $branco;
                    padding-bottom: 3rem;
                    .to_back {
                        position: absolute;
                        bottom: 0;
                        right: 0;
                        border: 2px solid transparent;
                        border-top-left-radius: 30px;
                    }
                    .function, .brackets {
                        max-width: 25%;
                    }
                    .container__imagens {
                        display: flex;
                        justify-content: center;
                        gap: 2rem;
                        .html5, .css3 {
                            max-width: 25%;
                        }
                    }
                }
                .back__card {
                    transform: rotateY(180deg);
                    background-color: $preto;
                    color: $branco;
                    text-align: center;
                    .to_front {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        border: 2px solid $branco;
                        background-color: $branco;
                        color: $preto;
                        border-top-right-radius: 30px;
                    }
                    .description__course {
                        padding: 0 1.8rem;
                        font-size: 1.2rem;
                        line-height: 1.5;
                    }
                }
            }
            .spin__card {
                transform: rotateY(-180deg);
            }
        }
    }
    
}

@media screen and (max-width: 1023px) {
    .formacao {
        padding: 2rem 2rem 3rem;
        .titulo__formacao {
            font-size: 1.8rem;
            margin-bottom: 2.5rem;
            &:before, &:after {
                font-size: 2.5rem;
            }
        }
        
    }
}

@media screen and (max-width: 700px) {
    .formacao {
        .cards__area {
            display: block;
            .container__card {
                margin-bottom: 3.5vh;
            }
        }
    }
}
