.formacao {
    background: $branco;
    padding: 6rem 3rem;
    .titulo__formacao {
        text-align: center;
        margin-bottom: 4rem;
        &:before {
            content: '( ';
            color: $cor-primaria;
            font-size: 5.5rem;
        }
        &:after {
            content: ' )';
            color: $cor-primaria;
            font-size: 5.5rem;
        }
    }
    .container__cards {
        display: flex;
        flex-flow: row wrap;
        gap: 0 4rem;
        .card {
            flex-grow: 1;
            width: 30%;
            padding: 2rem;
            text-align: center;
            align-self: start;
            .card__titulo {
                font: 1.7rem $fonte-titulo ;
                color: $cor-primaria;
                margin: 1rem 0;
            }
            .card__subtitulo {
                font: 1.1rem $fonte-subtitulo;
            }
            .card__texto {
                font-size: 1.1rem;
                line-height: 1.5;
            }
        }
    }
}
