/* Header */

header {
    width: 100%;
    background: url('../img/bg2.png') bottom center / 13.5rem repeat-x;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 3fr;
    .container__header {
        display: flex;
        flex-flow: column nowrap;
        background-color: $cor-primaria;
        .container__logo {
            background-color: $cor-primaria;
            display: flex;
            padding: 2rem 0 0;
            .logo {
                width: 10em;
                margin: 0 auto;
                align-self: center;
            }
        }
        nav {
            background-color: $cor-primaria;
            display: flex;
            padding: 2rem 0 2.6rem;
            justify-content: center;
            .open {
                display: none;
                width: 80px;
                height: 80px;
                background-color: $cor-primaria;
                border: 2.5px solid $cor-secundaria;
                margin: 0;
                .open-line {
                    width: 60%;
                    height: 4px;
                    background: $cor-quaternaria;
                }
            }
            .menu__principal {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                column-gap: 2.2rem;
                margin: 0 auto;
                align-self: center;
                .menu__link {
                    color: $cor-quaternaria;
                    display: block;
                    text-transform: uppercase;
                    border-bottom: 3px solid $cor-secundaria;
                    background-color: $cor-primaria;
                    font-size: 1rem;
                    padding: .8rem .5rem;
                    transition: all .3s ease-in-out;
                    &:hover {
                        background-color: $cor-quinternaria;
                        color: $cor-primaria;
                        border-color: $cor-primaria;
                    }
                }
            }
            .close {
                display: none;
                position: absolute;
                border: 2px solid $cor-terciaria;
                width: 100px;
                height: 100px;
                margin-left: -40px;
                left: 50vw; 
                top: 5%;
                padding-top: 1px;
                .close-line {
                    width: 65%;
                    height: 4px;
                    background-color: $cor-quaternaria;
                }
            }
        }
    }
    .banner {
        background: url('../img/bg1.png') top center / 13.5rem repeat-x;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        row-gap: 3rem;
        .banner__texto {
            color: $cinza;
            background-color: rgba(0,0,0,.3);
            display: inline-block;
            padding: .5rem;
            font-size: 2.3rem;
            line-height: 1;
            text-align: justify;
            font-weight: normal;
        }
    }
}

@media screen and (max-width: 1023px) {
    header {
        background-size: 8rem;
        position: relative;
        .container__header {
            padding-bottom: 2rem;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            .container__logo {
                width: auto;
                .logo {
                    width: 10rem;
                    margin: 0 0 0 2rem;
                }
            }
            nav {
                padding: 0 2rem 0 0;
                height: 100%;
                align-items: center;
                .open {
                    display: flex;
                    flex-flow: column nowrap;
                    justify-content: center;
                    align-items: center;
                    row-gap: 10px;
                }
                .menu__mobile {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    background: $cor-primaria;
                    .menu__principal {
                        position: relative;
                        top: 50vh;
                        flex-flow: column nowrap;
                        width: 80%;
                        align-items: center;
                        margin-top: -12rem;
                        display: block;
                        .menu__link {
                            display: block;
                            width: 100%;
                            text-align: center;
                            font-size: 2rem;
                            border: none;
                            border-bottom: 2.5px solid $cor-secundaria;
                            padding-top: 1.4rem;
                            padding-bottom: 1.4rem;
                        }
                    }
                    .close {
                        display: flex;
                        flex-flow: column nowrap;
                        align-items: center;
                        justify-content: center;
                        .close-line {
                            position: relative;
                        }
                        .close-line:nth-child(1) {
                            transform: rotate(45deg);
                        }
                        .close-line:nth-child(2) {
                            transform: rotate(-45deg);
                            top: -4px;
                        }
                    }
                }
            }
        }
        .banner {
            background-size: 8rem;
            .banner__texto {
                font-size: 1.3rem;
                margin: 0 1.5rem 2rem;
                word-spacing: normal;
            }
        }
    }
}
