@mixin raio($valor) {
    border-radius: $valor;
}

header {
    width: 100%;
    background: url('../img/bg2.png') bottom center / 13.5rem repeat-x;
    height: 100vh;
    display: grid;
    grid-template-rows: auto 3fr;
    .container__header {
        display: flex;
        flex-flow: column nowrap;
        background-color: $cor3;
        .container__logo {
            background-color: $cor3;
            display: flex;
            padding: 1rem 0 0;
            .logo {
                width: 10em;
                margin: 0 auto;
                align-self: center;
            }
        }
        nav {
            background-color: $cor3;
            display: flex;
            padding: 2rem 0 3rem;
            justify-content: center;
            .abrir {
                display: none;
            }
            .menu__mobile {
                .menu__principal {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    column-gap: 2.2rem;
                    margin: 0 auto;
                    align-self: center;
                    .menu__link {
                        color: $branco;
                        display: block;
                        text-transform: uppercase;
                        border: 2.5px solid $cor4;
                        background-color: $cor3;
                        font-size: .9rem;
                        padding: .8rem;
                        transition: all .3s ease-in-out;
                        @include raio(17px);
                        &:hover {
                            background-color: $cor4;
                            color: $cor3;
                            border-color: $cor3;
                        }
                    }
                }
                .fechar {
                    display: none;
                }
            }
        }
    }
    .banner {
        background: url('../img/bg1.png') top center / 13.5rem repeat-x;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        .banner__texto {
            color: $cinza;
            background-color: rgba(0,0,0,.4);
            display: inline-block;
            padding: .5rem;
            font-size: 2.5rem;
            line-height: 1;
            margin: 0 0 2.5rem;
            text-align: center;
            word-spacing: 1.2rem;
        }
    }
}

@media screen and (max-width: 1023px) {
    header {
        background-size: 8rem;
        position: relative;
        .container__header {
            padding-bottom: 2rem;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            .container__logo {
                width: auto;
                .logo {
                    width: 8rem;
                    margin: 0 0 0 1rem;
                }
            }
            nav {
                padding: 0;
                height: 100%;
                align-items: center;
                .abrir {
                    display: block;
                    background-color: $cor3;
                    border: 2.5px solid $cor4;
                    color: $branco;
                    padding: .8rem 1rem;
                    margin-right: 1rem;
                    font-size: 1.8rem;
                    text-transform: uppercase;
                }
                .menu__mobile {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100vh;
                    background: $cor3;
                    .menu__principal {
                        position: relative;
                        top: 50vh;
                        flex-flow: column nowrap;
                        width: 80%;
                        align-items: center;
                        margin-top: -11rem;
                        display: block;
                        .menu__link {
                            display: block;
                            text-align: center;
                            font-size: 2rem;
                            @include raio(0);
                            border: none;
                            border-bottom: 2.5px solid $cor4;
                        }
                    }
                    .fechar {
                        display: block;
                        position: absolute;
                        width: 9rem;
                        margin-left: -4.5rem;
                        left: 50vw; 
                        top: 5%;
                        background-color: $cor3;
                        color: $cor4;
                        padding: .5rem;
                        font-size: 3.6rem;
                        text-align: center;
                    }
                }
            }
        }
        .banner {
            background-size: 8rem;
            .banner__texto {
                font-size: 1.3rem;
                margin: 0 0 2rem;
                word-spacing: normal;
            }
        }
    }
}
