/* Introdução */

.introducao {
    padding: 6rem 0;
    background-color: $cor-quaternaria;
    text-align: center;
    .titulo__intro {
        color: $cor-primaria;
        position: relative;
        display: inline-block;
        padding-bottom: 1.5rem;
        &:before {
            content: '';
            position: absolute;
            left: -3rem;
            bottom: 0;
            width: 50%;
            height: 3px;
            background-color: $cinza-escuro;
        }
    }
    .texto__intro {
        margin: 3rem 12rem 0;
        text-align: center;
        .user_name {
            font-size: 1.5em;
            &:before {
                content: '@';
                color: $cor-secundaria;
            }
        }
        .enfase {
            &:before {
                content: '(';
                color: $cor-secundaria;
            }
            &:after {
                content: ')';
                color: $cor-secundaria;
            }
        }
    }
}

@media screen and (max-width: 1023px) {
    .introducao {
        padding: 2rem 0 3rem;
        .titulo__intro {
            font-size: 1.8rem;
            &:before, &:after {
                font-size: 2.5rem;
            }
        }
        .texto__intro {
            margin: 3rem 1.5rem 0;
        }
    }
}
