.introducao {
    padding: 6rem 0;
    background-color: $branco;
    .titulo__intro {
        text-align: center;
        &:before {
            content: '( ';
            color: $cor-primaria;
            font-size: 5.5rem;
        }
        &:after {
            content: ' )';
            color: $cor-primaria;
            font-size: 5.5rem;
        }
    }
    .texto__intro {
        margin: 3rem 11rem 0;
        text-align: center;
        .user_name {
            font-size: 1.5em;
            &:before {
                content: '@';
                color: $cor-primaria;
            }
        }
        .enfase {
            &:before {
                content: '(';
                color: $cor-primaria;
            }
            &:after {
                content: ')';
                color: $cor-primaria;
            }
        }
    }
}
