.sobre {
    display: grid;
    grid-template-areas: 'titulo titulo titulo' 'titulo titulo titulo' 'texto texto imagem';
    background-color: $preto;
    padding: 6rem 3rem;
    .titulo__sobre {
        color: $branco;
        grid-area: titulo;
        &:before {
            content: '/ ';
            color: $cor-primaria;
            font-size: 5.5rem;
        }
    }
    .texto__sobre {
        color: $branco;
        text-align: justify;
        grid-area: texto;
        align-self: center;
    }
    .foto__perfil {
        width: 23rem;
        grid-area: imagem;
        @include raio(100%);
        border: 4px solid $cor-primaria;
        padding: .8rem;
        margin: 0 0 0 7rem;
    }
}

@media screen and (max-width: 1023px) {
    .sobre {
        display: block;
        padding: 2rem 2rem 3rem;
        .titulo__sobre {
            font-size: 1.8rem;
            text-align: center;
            margin-bottom: 2rem;
            &:before {
                font-size: 2.5rem;
            }
        }
        .foto__perfil {
            margin: 2rem auto 0;
            width: 11rem;
            display: block;
        }
    }
}
