.sobre {
    display: grid;
    grid-template-areas: 'titulo titulo titulo' 'titulo titulo titulo' 'texto texto imagem';
    background-color: $preto;
    padding: 6rem 3rem;
    .titulo__sobre {
        color: $branco;
        grid-area: titulo;
        &:before {
            content: '/ ';
            color: $cor-primaria;
            font-size: 5.5rem;
        }
    }
    .texto__sobre {
        color: $branco;
        text-align: justify;
        grid-area: texto;
        align-self: center;
        margin-right: 2rem;
    }
    .foto__perfil {
        max-width: 65%;
        grid-area: imagem;
        align-self: center;
        @include raio(100%);
        border: 4px solid $cor-primaria;
        padding: .8rem;
        margin: 0 auto;
    }
}
