/* Sobre mim */

.sobre {
    display: grid;
    grid-template-areas: 'titulo titulo titulo' 'titulo titulo titulo' 'texto texto imagem';
    background-color: $cor-primaria;
    padding: 6rem 0 6rem 3rem;
    .titulo__sobre {
        color: $cor-quaternaria;
        grid-area: titulo;
        &:before {
            content: '/ ';
            color: $cor-secundaria;
            font-size: 3.5rem;
        }
    }
    .texto__sobre {
        color: $cor-quaternaria;
        text-align: justify;
        grid-area: texto;
        align-self: center;
        .link__sobre {
            border-bottom: 2px solid $cor-secundaria;
            display: inline-block;
            color: $cor-quaternaria;
            background: $cor-primaria;
            padding: 0 3px;
            transition: all .3s ease-in-out;
            font-weight: bold;
            &:hover {
                border-color: $cor-primaria;
                color: $cor-primaria;
                background-color: $cor-terciaria;
            }
        }
    }
    .container__foto {
        align-self: center;
        grid-area: imagem;
        .foto__perfil {
            max-width: 55%;
            display: block;
            @include raio(100%);
            border: 4px solid $cor-secundaria;
            padding: .8rem;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 1023px) {
    .sobre {
        display: block;
        padding: 2rem 1.5rem 3rem;
        .titulo__sobre {
            font-size: 1.8rem;
            text-align: center;
            margin-bottom: 2rem;
            &:before {
                font-size: 2.5rem;
            }
        }
        .texto__sobre {
            text-align: center;
        }
        .container__foto {
            .foto__perfil {
                margin: 2rem auto 0;
            }
        }
    }
}
